@import '../../app-styles/mixins.scss';

.component-container {
	background-color: white;
	margin-top: 10vh;
	height: 90vh;
	grid-column: 2 / span 10;
	display: grid;
	grid-gap: 20px;
	width: 100%;
	h1 {
		height: 1vh;
		grid-column: 2 / span 10;
		place-self: center;
	}
}