@import "../../app-styles/mixins.scss";

nav {
  @include gridSetup;
  height: 10vh;
  border-bottom: black solid 2px;
  grid-column: span 12;
  .burger {
    grid-column-start: 2;
    place-self: center;
    img {
      height: 5em;
      width: 5em;
    }
  }
  .buttonContainer {
    height: 100%;
    grid-column: 8 / span 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      width: 6em;
      height: 2em;
    }
  }
}
