@import "../../app-styles/mixins.scss";

nav {
  background-color: $primaryAnalogous1; 
  position: fixed;
  z-index: 100;
  @include gridSetup;
  height: 10vh;
  width: 100vw;
  border-bottom: black solid 2px;
  grid-column: span 12;
  .burger {
    grid-column-start: 2;
    place-self: center;
    img {
      border-radius: 50px;
      height: 5em;
      width: 5em;
      box-shadow: 0px 0px 10px $primaryAnalogous2;
    }
    img:hover {
      transform: scale(1.03, 1.03)
    }
  }
  .buttonContainer {
    height: 100%;
    grid-column: 8 / span 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      cursor: pointer;
      background-color: $white;
      font-size: 20pt;
      min-width: 5.7em;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 0px 10px $primaryAnalogous2;
    }
    button:hover {
      background-color: $primaryComplementary;
      transform: scale(1.01, 1.01)
    }
  }
}
